<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<h2>Search in TMDb</h2>

<div class="search-container">
  <%= form_tag search_tmdb_result_path, method: :post, id: 'tmdb_form' do %>
    
    <div class="mb-3">
      <label for="movie_title_field" class="form-label">Movie Name</label>
      <%= text_field_tag 'title', nil, class: "form-control", id: "movie_title_field", placeholder: "Manhunter" %>
    </div>
    
    <div class="mb-3">
      <label for="movie_year_field" class="form-label">Release Year</label>
      <%= text_field_tag 'release_year', nil, class: "form-control", id: "movie_year_field", placeholder: "1986" %>
    </div>

    <div class="form-check">
      <%= radio_button_tag 'language', 'en', false, class: "form-check-input", id: 'language_en' %>
      <label class="form-check-label" for="language_en">English Only</label>
    </div>

    <div class="form-check mb-3">
      <%= radio_button_tag 'language', 'all', true, class: "form-check-input", id: 'language_all' %>
      <label class="form-check-label" for="language_all">All Languages</label>
    </div>
    
    <%= submit_tag 'Search', id: 'tmdb_submit', class: 'btn btn-warning' %>
    
  <% end %>

  <%= button_to 'Back to Home', root_path, method: :get, class: 'btn btn-secondary mt-3' %>
</div>

<% if @movies.present? %>
  <h3 class="mt-4">Search Results</h3>
  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th>Movie Title</th>
        <th>Release Date</th>
        <th>Synopsis</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie[:title] %></td>
          <td><%= movie[:release_date] %></td>
          <td><%= movie[:overview] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
